html, body {
    width: 100%;
    max-width: 100%;
    /* overflow: hidden; */
}

div {
    box-sizing: border-box;
}

.content {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10vh;
    margin-left: 15%;
}

.block {
    display: flex;
    border: 2px solid black;
}

.filling-block {
    height: 5vh;
    width: 10vw;
    background-color: silver;
    border: none;
    border-radius: 5px;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
    box-sizing: border-box;
    padding: 0px 2vw;
    background-color: white;
}

header > .filling-block {
    width: 25vw;
    height: 60%;
}

.block_2 {
    width: 15%;
    height: 175vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 10vh;
    left: 0vw;
    z-index: -1;
    box-sizing: border-box;
    padding: 25px 5px;
    background-color: white;
}

.block_2 > .filling-block {
    width: 80%;
    margin-top: 8%;
}

.block_3 {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.block_3 > .filling-block {
    width: 90%;
    height: 90%;
}

.block_4 {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.block_4 > .filling-block {
    width: 43%;
    height: 60%;
    margin: 10px 10px;
}

.block_5-and-6 {
    width: 100%;
    height: 100vh;
    display: flex;
}

.block-5 {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 40px;
}

.block-5 > .filling-block {
    width: 43%;
    min-height: 13%;
    flex-grow: 1;
    margin: 10px 10px;
}

.block-6 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10px;
    box-sizing: border-box;
}

.block-6 > .filling-block {
    width: 90%;
    height: 12%;
    margin: 15px 0px;
}

footer[class=block] {
    width: 85%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 45px 0px 40px 0px;
    margin-left: 15%;
}

footer > .filling-block {
    width: 80%;
}

#menu-reveal {
    display: none;
}

i[class="fa-solid fa-bars"] {
    visibility: hidden;
}